.groupe .ui-panel, .groupe .ui-panel-content-wrapper, .groupe .ui-panel-content, .groupe i {
  color: inherit;
}

.groupes .fr {
  position: fixed;
  right: 0;
  top: 3px;
}

.groupes .ui-datagrid-content {
  margin: 0;
}

#conseils {
  padding: 15px;
}

#conseils h3 {
  font-family: 'Amatica SC', sans-serif;
  font-size: 1.8em;
}

#conseils li {
  padding: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.15em
}

.groupes .ui-panel-content {
  text-align: center;
}

.groupes .ui-panel-content i {
  padding: 10px;
  cursor: pointer;
  transition: color 0.2s ease 0s;
}

.groupes .ui-panel-content i:hover {
  color: #727272;
}

#loading {
  font-size: 1.5em;
  padding: 10px;
}

#loading > * {
  vertical-align: middle;
}

.groupes .ui-button {
  cursor: default
}

@media (max-width: 900px) {
  .groupes .fr {
    position: absolute;
    right: 0;
    top: 295px;
  }
}
