#agd-ajout {
  padding: 3%;
}

#agd-ajout h1, #agd-ajout h3 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0
}

#agd-ajout option, #agd-ajout select {
  height: 30px;
}

#agd-ajout h3 {
  font-size: 1.3em
}

#agd-ajout > div {
  margin-top: 10px
}

#agd-ajout .infosmatiere {
  display: inline-block;
  width: 45%;
  vertical-align: top
}

#agd-ajout .infosmatiere select {
  max-width: 85%;
}

#agd-ajout .contenu {
  display: block;
  width: 90%;
  padding-bottom: 10px;
}

#agd-ajout .ui-datepicker-header .ui-icon {
  width: 100%;
  height: 15px
}

@media (max-width: 900px) {
  #agd-ajout {
    display: table-row;
  }

  #agd-ajout #contenu {
    display: block;
    width: 90%;
    padding-bottom: 10px;
  }

  #agd-ajout > div,
  #agd-ajout > div > div {
    display: block;
    min-width: 100%;
  }
}
