/* dates des sections */
.cdt p.mois {
    margin-top: 30px;
    display: block;
    width: 100%;
    text-align:center;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

.cdt aside {
    height: 5em;    
    min-width: 80px;
    position: sticky;
    top: -20px;
    z-index: 1
}

.cdt aside p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    margin: 0;
    background-color: white
}

.cdt aside p:first-child {
    font-size: 3em;
}

.cdt .auteur {
    color: #B6B6B6;
}

.cdt p-panel:first-child > .ui-widget {
    margin-top: 40px;
}

.flag {
    margin-right:5px;
}

#aucundevoir {
  padding: 60px;
  text-align: justify;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6em
}

/* devoir */
.cdt .ui-panel {
  margin-top: 15px;
  border: 2px solid #B6B6B6;
  border-radius: 5px;
}

.auteur, .matiere {
  font-weight: normal
}

.cdt footer a {
  font-family: 'Josefin Sans', sans-serif;
}

.cdt .ui-toolbar-group-right .ui-button {
  opacity: 0.2;
  transition: opacity 0.3s ease 0s;
}

.cdt .ui-toolbar-group-right:hover .ui-button {
  opacity: 0.45
}

.cdt .ui-toolbar-group-right .ui-button:last-of-type,
.cdt .ui-toolbar-group-right .ui-button:hover {
  opacity: 1;
}

.cdt .done button.ui-button.ui-state-default {
    background-color: grey;
    border-color: grey;
}

.cdt .done .ui-panel-title {
    color: grey;
    text-decoration: line-through;
}

/* commentaire */
.cdt .ui-accordion .ui-accordion-header {
    color: #eee;
    border: none;
    background: #fff;
    text-align: right
}

.cdt .ui-accordion .ui-accordion-header.ui-state-hover {
    color: #000;
    background-color: #fff
}

.commentaire {
  background-color: rgba(255,255,255,0.2);
  border: 1px solid #eee;
  margin: 5px;
  padding: 5px;
}

.commentaire .footer {
  text-align: right;
}

.commentaire > p > span > a {
  text-decoration: underline
}

.commentaire p {
    margin: 0;
}

.commentaire .header, .commentaire .footer {
    color: #aaa
}

.commentaire a.delete {
    float: right;
    margin-left: 5px;
}

/* marqueurs */

.cdt .ui-overlaypanel {
  box-shadow: none;
}

.cdt .ui-overlaypanel-content ul {
  list-style: none;
  padding:0;
}

.cdt .ui-overlaypanel-content li {
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease 0s;
}

.cdt .ui-overlaypanel-content li:hover {
  opacity: 1;
}

/* pieces jointes */
.files {
    display: block;
    position: relative;
    top: 20px
}

.file {
    font-size: 0.9em;
    display: inline-block;
    background-color: whitesmoke;
    border:1px solid grey;
    border-radius : 10px;
    padding: 5px;
    margin: 5px;
}

.file a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.file .auteur {
    font-size: 0.8em
}

/* filtres mati�re */
#filtrmatieres {
    padding-top:10px;
    padding-bottom: 10px;
}
#filtrmatieres .ui-button {
  margin: 5px;
  padding: 3px;
}

#filtrdone {
   text-align: left;
    padding-top: 15px;
   padding-left:20px;
}

@media (max-width: 900px) {
  .files {
    display: block;
    position: relative;
    top: 0
  }
}