@charset "UTF-8";

ng-component {
  width: 70%;
  padding-left: 10px;
}

html, body, agendapp {
  height: 100%
}

a {
  text-decoration: none;
  color: inherit;
}

/* menu */

agd-menu {
  background-color: #D32F2F;
  color: #212121;
  height: auto;
}

agd-menu h1 {
  font-family: 'Amatica SC';
  font-size: 3.5em;
  margin: 0;
  text-align:center;
  color:#fff;
}

agd-menu h5 {
  font-family: 'Amatica SC';
  font-size: 2em;
  margin: 0;
  text-align:right;
  color:#fff;
  position:relative;
  right: 20px;
  top: -20px;
}

agd-menu ul {
  display: block;
  list-style: none;
  width: 100%;
  padding: 0;
}

agd-menu li {
  display: block;
  background-color: #B6B6B6;
  border: 1px solid #B6B6B6;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease 0;
}

agd-menu li a {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: block;
  
}

agd-menu li:hover {
  background-color: #FFCDD2
}

agd-menu > p {
  cursor: pointer;
  width: 100%;
  color: #eee;
  text-align: right;
  padding: 10px;
  margin-top: 50%;
  transition: color 0.1s ease 0s;
}

agd-menu > p:hover {
  color: #fff
}

@media (max-width: 900px) {
  html {
    max-width: 100%
  }
  body {
    max-width: 100%;
    display: table
  }
  agd-menu h1 {
    margin: 0;
  }
  agd-menu {
    min-width: 99.9%;
    height: 280px;
    display: table-row;
    margin-bottom: 10px;
  }
  #logout {
    position: absolute;
    top:0;
    left: 0;
    margin-top: -5px;
  }
  ng-component {
    display: block;
    width: 100%
  }
}