<link rel="stylesheet" href="/app/cdt/cdt.css">

<!-- Formulaire de fusion de devoirs -->
<section *ngIf="merge.length>0" class="merge">
    <p-panel>
        <header>
            Devoirs à fusionner
        </header>
        <ul>
            <li *ngFor="let devoir of merge">
                {{devoir.texte}}
            </li>
        </ul>
        <div>
            <button pButton type="button" icon="fa-check" iconPos="left"
                    label="Confirmer la fusion" (click)="doMerge()" [disabled]="merge.length<2"></button>
            <button class="secondaire" pButton type="button" icon="fa-ban" iconPos="left"
                    label="Annuler" (click)="clearMerge()"></button>
        </div>
    </p-panel>
</section>

<!-- sélection de flag -->

<p-overlayPanel #op>
    <ul *ngIf="selectedDevoir">
        <li *ngFor="let flag of getFlags()" (click)="setFlag(flag,op)">
            <i [style.color]="flags[flag]" class="fa fa-font-awesome">
            </i>
        </li>
    </ul>
</p-overlayPanel>

<!-- Sections des devoirs (core)  -->
<section *ngFor="let section of sections" class="cdt flex-container">
    <aside class="pam unstyled txtcenter">
        <p>{{section.titre}}</p>
        <p>{{section.sous_titre}}</p>
    </aside>
    <div role="main" class="flex-item-fluid pam">
        <p-panel *ngFor="let devoir of section.devoirs; let i=index" [class]="devoir.matiere_c+' '+(devoir.fait ? 'done' : 'undone')" >
            <header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title" style="font-size:16px">
                        <a (click)="selectDevoir($event,devoir,op)">
                            <i [style.color]="flags[devoir.flag]" pTooltip="Ajouter un marqueur" tooltipPosition="top" class="fa fa-font-awesome">
                            </i>
                        </a>
                        <span class="matiere">#{{devoir.matiere | lowercase}}</span>
                        <span class="auteur">@{{devoir.auteur | lowercase}}</span>
                    </span>
                    <p-splitButton class="myFloatRight" [label]="devoir.fait ? 'Fait' : 'À faire'" icon="fa-check" (onClick)="done(devoir)">
                        <p-splitButtonItem icon="fa-code-fork" label="Doublon" (onClick)="addToMerge(devoir)"></p-splitButtonItem>
                        <p-splitButtonItem icon="fa-exclamation-triangle" label="Signaler" (onClick)="signaler(devoir)"></p-splitButtonItem>
                        <p-splitButtonItem *ngIf="devoir.user==user.id" icon="fa-close" label="Supprimer" (onClick)="supprimer(devoir)"></p-splitButtonItem>
                    </p-splitButton>
                </div>
            </header>
            {{devoir.texte}}
            <footer>
                <b>{{devoir.nb_fait}}</b> <i class="fa fa-check"></i>
                /
                <b>{{devoir.commentaires.length}}</b> <i class="fa fa-comment"></i>
            </footer>
            <p-accordion>
                <p-accordionTab>
                    <header>
                        voir les commentaires
                    </header>
                    <div class="commentaire">
                        <textarea placeholder="Ajouter un commentaire" pInputTextarea title="Ajouter un commentaire" [autoResize]="true" [(ngModel)]="input[i]">
                        </textarea>
                        <button pButton (click)="sendComment(devoir,input[i],i)" [icon]="'fa-paper-plane'"></button>
                    </div>
                    <div class="commentaire" *ngFor="let commentaire of devoir.commentaires">
                        <p class="header">
                            @{{commentaire.auteur}}
                            <a *ngIf="user.id==commentaire.user" (click)="supprimer_comm(devoir,commentaire)">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </p>
                        <p>
                            {{commentaire.texte}}
                        </p>
                        <p class="footer">
                            <span class="date">{{_date.recentDateTime(commentaire.date)}}</span>
                        </p>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </p-panel>
    </div>
</section>