<link rel="stylesheet" href="/app/cdt/cdt.css">

<section *ngFor="let section of sections" class="cdt flex-container">
    <aside class="pam unstyled txtcenter">
        <p>{{section.titre}}</p>
        <p>{{section.sous_titre}}</p>
    </aside>
    <div role="main" class="flex-item-fluid pam">
        <p-panel [class]="devoir.fait ? 'done' : 'undone'" *ngFor="let devoir of section.devoirs">
            <header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title" style="font-size:16px">
                        <a (onClick)="addToMine(devoir)">
                            <i pTooltip="Ajouter à mes tâches en cours" tooltipPosition="top" class="fa fa-plus-square-o">
                            </i>
                        </a>
                        <span class="matiere">#{{devoir.matiere | lowercase}}</span>
                        <span class="auteur">@{{devoir.auteur | lowercase}}</span>
                    </span>
                    <p-splitButton class="myFloatRight" [label]="devoir.fait ? 'Fait' : 'Non fait'" icon="fa-check" (onClick)="done(devoir)">
                        <p-splitButtonItem icon="fa-code-fork" label="Doublon" (onClick)="addToMerge(devoir)"></p-splitButtonItem>
                        <p-splitButtonItem icon="fa-exclamation-triangle" label="Signaler" (onClick)="signaler(devoir)"></p-splitButtonItem>
                        <p-splitButtonItem *ngIf="devoir.user==user.id" icon="fa-close" label="Supprimer" (onClick)="supprimer(devoir)"></p-splitButtonItem>
                    </p-splitButton>
                </div>
            </header>
            {{devoir.texte}}
            <footer>
                <b>{{devoir.nb_fait}}</b> <i class="fa fa-check"></i>
                /
                <b>{{devoir.commentaires.length}}</b> <i class="fa fa-comment"></i>
            </footer>
            <p-accordion *ngIf="devoir.commentaires.length>0"> <!-- /!\ TODO Mettre le input à l'extérieur quand ==0 --->
                <p-accordionTab>
                    <header>
                        voir les commentaires
                    </header>
                    <div class="commentaire" *ngFor="let commentaire of devoir.commentaires">
                        <p class="header">
                            @{{commentaire.auteur}}
                            <a (click)="supprimer_comm(commentaire)">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </p>
                        <p>
                            {{commentaire.texte}}
                        </p>
                        <p class="footer">
                            <span class="date">{{commentaire.date}}</span>
                            <!-- TODO Pipe minutes -->
                        </p>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </p-panel>
    </div>
</section>




<!--
<div class="ui secondary menu">
    <div class="left menu">
        <div class="ui transparent left icon input">
            <input type="text" placeholder="Rechercher...">
            <i class="search icon"></i>
        </div>
    </div>
    <a class="active item">
        Liste
    </a>
    <a class="item">
        Matières
    </a>
</div>

<section class="ui grid">
    <div class="ui statistic font_titre two wide column">
        <div class="value">
            15
        </div>
        <div class="label">
            Vendredi
        </div>
    </div>
    <div class="seven wide column">
        <div class="ui one cards" *ngFor="let devoir of devoirs">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">
                        <a class="right">
                            #{{devoir.matiere | lowercase}}
                        </a>
                    </div>
                    <div class="meta">
                        <div class="right floated meta">
                            @{{devoir.auteur | lowercase}}
                        </div>
                        <div>
                            pour le {{devoir.date}}
                        </div>
                    </div>
                    <div class="description">
                        <p>{{devoir.texte}}</p>
                    </div>
                </div>
                <div class="content">
                    <span class="right floated">
                      <i class="checkmark icon"></i>
                      {{devoir.nb_fait}}
                        <i class="comment icon"></i>
                        12
                    </span>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui basic green button">Modifier</div>
                        <div class="ui basic red button">Supprimer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->