<link rel="stylesheet" href="/app/cdt/cdt.css">

<!-- Formulaire de fusion de devoirs -->
<section *ngIf="merge.length>0" class="merge">
    <p-panel>
        <header>
            Devoirs à fusionner
        </header>
        <ul>
            <li *ngFor="let devoir of merge">
                {{devoir.texte}}
            </li>
        </ul>
        <br>
        <div>
            <button pButton type="button" icon="fa-check" iconPos="left"
                    label="Confirmer la fusion" [disabled]="merge.length<2"></button>
            <button class="secondaire" pButton type="button" icon="fa-ban" iconPos="left"
                    label="Annuler" (click)="clearMerge()"></button>
        </div>
    </p-panel>
</section>

<!-- Liste de tâches -->
<section class="taches">
    <p-panel>
        <header>
            Mes tâches en cours
            <span id="pastille">
                {{taches.length}}
            </span>
        </header>
        <ul>
            <li *ngFor="let devoir of taches">
                <p-checkbox ([ngModel])="devoir.fait" (click)="taskdone(devoir)"></p-checkbox>
                <p>{{_date.jjmm(devoir.date)}},
                     {{devoir.texte.length>120 ? devoir.texte.substr(0,115)+"(...)" : devoir.texte}}
                    <span class="matiere">#{{devoir.matiere|lowercase}}</span>
                </p>
            </li>
        </ul>
        <br>
        <div id="addtask">
            // INPUT
        </div>
    </p-panel>
</section>

<!-- Sections des devoirs (core) -->
<section *ngFor="let section of sections" class="cdt flex-container">
    <aside class="pam unstyled txtcenter">
        <p>{{section.titre}}</p>
        <p>{{section.sous_titre}}</p>
    </aside>
    <div role="main" class="flex-item-fluid pam">
        <p-panel [class]="devoir.fait ? 'done' : 'undone' + devoir.matiere_c" *ngFor="let devoir of section.devoirs">
            <header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title" style="font-size:16px">
                        <a (onClick)="addToMine(devoir)">
                            <i pTooltip="Ajouter à mes tâches en cours" tooltipPosition="top" class="fa fa-plus-square-o">
                            </i>
                        </a>
                        <span class="matiere">#{{devoir.matiere | lowercase}}</span>
                        <span class="auteur">@{{devoir.auteur | lowercase}}</span>
                    </span>
                    <p-splitButton class="myFloatRight" [label]="devoir.fait ? 'Fait' : 'À faire'" icon="fa-check" (onClick)="done(devoir)">
                        <p-splitButtonItem icon="fa-code-fork" label="Doublon" (onClick)="addToMerge(devoir)"></p-splitButtonItem>
                        <p-splitButtonItem icon="fa-exclamation-triangle" label="Signaler" (onClick)="signaler(devoir)"></p-splitButtonItem>
                        <p-splitButtonItem *ngIf="devoir.user==user.id" icon="fa-close" label="Supprimer" (onClick)="supprimer(devoir)"></p-splitButtonItem>
                    </p-splitButton>
                </div>
            </header>
            {{devoir.texte}}
            <footer>
                <b>{{devoir.nb_fait}}</b> <i class="fa fa-check"></i>
                /
                <b>{{devoir.commentaires.length}}</b> <i class="fa fa-comment"></i>
            </footer>
            <p-accordion *ngIf="devoir.commentaires.length>0"> <!-- /!\ TODO Mettre le input à l'extérieur quand ==0 --->
                <p-accordionTab>
                    <header>
                        voir les commentaires
                    </header>
                    <div class="commentaire" *ngFor="let commentaire of devoir.commentaires">
                        <p class="header">
                            @{{commentaire.auteur}}
                            <a *ngIf="user.id==commentaire.user" (click)="supprimer_comm(devoir,commentaire)">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </p>
                        <p>
                            {{commentaire.texte}}
                        </p>
                        <p class="footer">
                            <span class="date">{{_date.recentDateTime(commentaire.date)}}</span>
                        </p>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </p-panel>
    </div>
</section>